{% extends "main.html" %}
{% comment %} {% load crispy_forms_tags %} {% endcomment %}


{% block content  %}

{% comment %} <div class="container">
  <div class="d-flex justify-content-cenetr align-items-center py-md-5 py-3" style="min-height: 90vh;">
<form action=". " method="POST">
    <h4> Enter Amount</h4>
    <hr>
    {% csrf_token %}
    {{payment_form}} 
    <p>
      <br>
    <button type="submit" value="Submit" class="btn btn-primary">Submit</button></p>
</form>
</div>
</div> {% endcomment %}





   <div class="container">

        <!-- Outer Row -->
        <div class="row justify-content-center">

            <div class="col-xl-10 col-lg-12 col-md-9">

                <div class="card o-hidden border-0 shadow-lg my-5">
                    <div class="card-body p-0">
                        <!-- Nested Row within Card Body -->
                        <div class="row">
                            <!-- <div class="col-lg-6 d-none d-lg-block bg-login-image"></div> -->
                            <div class="col-lg-12">
                                <div class="p-5">
                                    <div class="text-center">
                                        <h1 class="h4 text-gray-900 mb-4" style="font-weight: bold; font-size: 30px;">Enter Amount</h1>
                                    </div>
                                 

<form action=". " method="POST"> 
    {% csrf_token %}
    {{payment_form}} 
    <p>
      <br>
    <button type="submit" value="Submit" class="btn btn-primary">Submit</button></p>
 </form> 
                                    <hr>
                                   
                                    <div class="text-center">
                                        <a class="lg fw-bold" href="{% url 'store' %}">Back to Dashboard!</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </div>

    </div> 


{% endblock  %}